* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
}

.containerBoard {
    background-color: #3a86ff;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.containerBoard h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.startGameInformations,
.playerTurn {
    background-color: #669bbc;
    display: flex;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    margin: 3rem;
    gap: 5rem;
    font-size: 1.5rem;
}

.finalResult {
    background-color: #669bbc;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    margin: 5rem;
    padding: 2rem;
    font-size: 1.5rem;
}

.startGameInformations>div>input {
    margin-top: 0.8rem;
    margin-left: 1rem;
    height: 2rem;
    width: 6rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
}

.restartGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.gameOutcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startGame,
.newGame {
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem 2rem 1rem 2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.5rem;
}


.boardGame {
    background-color: #669bbc;
    margin-top: 1rem;
    text-align: center;
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.boardGame .boardCell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
}

.boardCell:hover {
    background-color: #a8dadc;
}

.right {
    border-right: 0.1rem solid black;
}

.bottom {
    border-bottom: 0.1rem solid black;
}

.right-bottom {
    border-right: 0.1rem solid black;
    border-bottom: 0.1rem solid black;
}

/* Make player input boxes hidden */
.hidden {
    display: none !important;
}

.remove-hidden {
    display: block !important;
}