* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
    font-family: 'Gemunu Libre', sans-serif;
    font-weight: bold;
}

.containerBoard {
    background-color: #3a86ff;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerBoardStart {
    background-color: #3a86ff;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

h1 {
    font-size: 5rem;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 3rem;
}

.startGameInformations {
    background-color: #669bbc;
    display: flex;
    padding: 1rem 1.5rem 1rem 1.5rem;
    border-radius: 1rem;
    gap: 5rem;
    font-size: 1.5rem;
}

.finalResult {
    background-color: #669bbc;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 1rem;
    /* padding: 2rem; */
    font-size: 1.5rem;
}

.startGameInformations>div>input {
    margin-top: 0.8rem;
    margin-left: 1rem;
    height: 2rem;
    width: 6rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
}

.restartGame {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}

.gameOutcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.startGame,
.newGame {
    font-weight: bold;
    padding: 0.6rem 1.2rem 0.6rem 1.2rem;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
    font-size: 1.4rem;
}


.boardGame {
    background-color: white;
    text-align: center;
    display: grid;
    gap: 0.3rem;
    padding: 0.3rem;
    margin-top: 4rem;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
}

.boardGame .boardCell {
    background-color: #669bbc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    cursor: pointer;
    border: 0.1rem solid black;
    ;
}

.boardCell:hover {
    background-color: #a8dadc;
}

/* Make player input boxes hidden */
.hidden {
    display: none !important;
}

.remove-hidden {
    display: block !important;
}